@model List<CategoryOtel>

<div class="list-group">
    <a href="/otels" class="list-group-item list-group-item-action">Tüm Kategoriler</a>

    @foreach (var item in Model)
    {
        <a asp-controller="Otel"
           asp-action="List"
           asp-route-categoryotel="@item.OtelKategorisi" 
           class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == item.OtelKategorisi?"active":"")">@item.OtelKategorisi
    </a> //categoryotel bilgisi otel controller list action'ından geliyor
    }
</div>

